




#body1{
	font-family: Arial, sans_serif;
	font-weight: bold;
	text-align:center;
	margin: 30px;
	padding: 20px;
	color: white;
	background: #484646;
}

#body2{
	font-family: Arial, sans_serif;
	font-weight: bold;
	text-align:center;
	margin: 30px;
	padding: 20px;
	color: white;
	background: #252525;
}
a{
	color:white;
}

table{
	background-color: #252525;
	color: white;
	font-size: 20px;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	border: 2px solid #484646;
	border-collapse: collapse;
 }

th,td{
	border: 2px solid #484646;
	text-align: center;
}



#backgroundColor{
	background: #424240;
}

#title{
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	background-color: #252525;
	color: white;
}




